.actions-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px 10px 15px 10px;
}

.actions-container .add-button {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  color: black;
  border-radius: 8px;
  background-color: lavender;
}

.add-button:hover {
  background-color: linen;
}
