.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 2px black;
  padding: 5px 5px 5px 10px;
  margin: 10px 15px;
  cursor: pointer;
  user-select: none;
}

.checked {
  background-color: greenyellow;
}

.task-detail {
  font-size: 18px;
}

.delete {
  cursor: pointer;
}

.cross-image {
  width: 24px;
  height: 24px;
}
